{
	"bracketSpacing": false,
	"trailingComma": "es5",
	"tabWidth": 4,
	"singleQuote": true,
	"useTabs": true,
	"svelteBracketNewLine": false,
	"svelteSortOrder": "options-scripts-markup-styles",
	"svelteAllowShorthand": false,
	"svelteStrictMode": false,
	"svelteIndentScriptAndStyle": true
}
